@use '../root' as *;
@use '../utilities' as *;



// Main Header 

.header-layout4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 150;
  background-color: transparent;

  @include breakpoint (max-xl) {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }

  .menu-area {
    background: transparent;
    padding: 0;
    border-bottom: 1px solid $text-color2;

    .header-logo {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 35px;

      a {
        img {
          position: relative;
          z-index: 3;
        }
      }

      @include breakpoint (max-xl) {
        padding-top: 16.5px;
        padding-bottom: 16.5px;
      }
    }

    .header-button {
      border-left: 0px solid transparent;
    }
  }

  .main-menu {
    display: block;
    position: relative;
    color: $text-color2;
    font-family: $body-font2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

    &>ul {
      &>li {
        &>a {
          &:before {
            content: "";
            position: absolute;
            height: 1px;
            left: 0;
            background: $black-color;
            width: 0%;
            margin-top: 30px;
            transition: 0.4s;
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -ms-transition: 0.4s;
            -o-transition: 0.4s;
            z-index: 5;
          }

          &:hover {
            &:before {
              width: 100%;
            }
          }
        }
      }
    }
  }
}


.sticky-wrapper {
  &.sticky {
    .menu-area {
      border-bottom: 0px solid transparent;
    }
  } 
}