@use '../root' as *;
@use '../utilities' as *;

.service1 {
    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 80px 0 40px;
        border-bottom: 1px solid $border-color1;

        @include breakpoint (max-md) {
           flex-wrap: wrap;
           gap: 20px;
        }

        &__title {
            color: $black-color;
            font-family: $body-font;
            font-size: 26px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px; 
            text-align: start;

            span {
                color: $white-color2;
            }
        }

        &__desc {
            color: $text-color4;
            font-family: $body-font;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            max-width: 326px;
            text-align: start;
        }
    }
}